---
import { Markdown } from 'astro/components';
import BaseHead from '../../BaseHead.astro';
import BlogHeader from './BlogHeader.astro';
// import BlogPost from '../components/BlogPost.astro';
// import Header from '../../pages'
const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink, alt} = content;
---

<html lang={ content.lang || 'ko' }>
  <head>
    <link rel="stylesheet" href="/blog.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
  
  <div class="post-layout">
  <article class="content">
    <header>
      <!-- <p class="publish-date">{publishDate}</p> -->
    </header>
    <main>
      <slot />
    </main>
  </article>
</div>
    <a class='goHome' href='/'>홈으로</a>
  </body>
</html>

