---
import BlogPostPreviewReact from '../../components/BlogPostPreviewReact.jsx';

// const koreanRegex = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/ ;
const koreanRegex = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/  ;
const allPosts = Astro.
        fetchContent('../posts/*.md').
        filter(p => !(/[가-힣]/.test(p.title))  ).
        sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));

// console.log(Astro.fetchContent('../posts/*.md'));

// const allPosts = [] ;
---

    <div>
        i am en page
        {allPosts.map(p => <BlogPostPreviewReact:load post={p} />)}

    </div>