---
import Aboutme from '../components/pages/aboutme/Aboutme.jsx';
---
<html lang="ko">
  <head>
    <link rel="stylesheet" href="/aboutme.css" />
    <meta charset="utf-8"/>
    <link rel="preload" as="font" href="/font/founders-grotesk-bold.woff2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Aboutme />
  </body>
</html>
